.title {
  color: white;
  padding: 22px;
}
.banner {
  height: 10vh;

  background-color: #163a24;
  text-align: center;
}
.area {
  width: 80%;
  margin-left: 10%;
  text-align: justify;
}
.half {
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.btn {
  background-color: #163a24;
  padding: 5px 10px;
  color: white;
}
